---
layout: default
features:
 - title: Beautiful Designs
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ex ut, eaque ratione amet neque ipsum?
   featured_image: /images/placeholder-project.png
 - title: Optimized Build
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ex ut, eaque ratione amet neque ipsum?
   featured_image: /images/placeholder-project.png
---

<!-- Banner section -->
<section class="bg-image bg-plant-2 padded tall-70 grid-middle-right">
    <div class="col-6_sm-10 editable right">
        <h2> Our Services </h2>   
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ex ut, eaque ratione amet neque ipsum? Cupiditate ipsam voluptatem quia corporis repellendus inventore perspiciatis illum totam nihil maiores! Molestiae, consequuntur?</p>
    </div>
</section> 

<section class="padded bg-green light-text">
    <div class="capped width grid">
        <div class="col-4_sm-12 padded-2">
            <h3> Design.</h3> 
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur rerum soluta explicabo quo voluptas eos accusantium nihil fuga, quaerat necessitatibus, expedita quam! Quos harum laborum amet inventore voluptatibus possimus voluptates?</p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur rerum soluta explicabo quo voluptas eos accusantium nihil fuga, quaerat necessitatibus, expedita quam! Quos harum laborum amet inventore voluptatibus possimus voluptates?</p>
    
        </div>
        <div class="col-4_sm-12 padded-2">
            <h3> Build.</h3> 
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur rerum soluta explicabo quo voluptas eos accusantium nihil fuga, quaerat necessitatibus, expedita quam! Quos harum laborum amet inventore voluptatibus possimus voluptates?</p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur rerum soluta explicabo quo voluptas eos accusantium nihil fuga, quaerat necessitatibus, expedita quam! Quos harum laborum amet inventore voluptatibus possimus voluptates?</p>
    
        </div>
        <div class="col-4_sm-12 padded-2">
            <h3> Design&Build.</h3> 
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur rerum soluta explicabo quo voluptas eos accusantium nihil fuga, quaerat necessitatibus, expedita quam! Quos harum laborum amet inventore voluptatibus possimus voluptates?</p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur rerum soluta explicabo quo voluptas eos accusantium nihil fuga, quaerat necessitatibus, expedita quam! Quos harum laborum amet inventore voluptatibus possimus voluptates?</p>
    
        </div>
        <div class="col-12 center padded-1">
            <a href="/contact" class="button">Get in touch! </a>
        </div>
    </div>

</section>

<!-- Newsletter section -->
{% include newsletter-signup.html %}

<section class="capped-width">
{% for item in page.features  %}

<div class="grid flex-flip-alternate">

    <div class="col-5_sm-12-middle padded">
        <h3> {{ item.title }} </h3>
        <p> {{item.description}}  
    </div>
    
    <div class="col-7_sm-12-middle padded">
        <img src="{{item.featured_image}}" alt="{{ item.title }}">    
    </div>
</div>

{% endfor %}
</section>